{% extends 'base.html.twig' %}

{% block title %}INOE{% endblock %}

{% block body %}

    

    <!-- WELCOME -->
    <section class="position-relative pt-12 pt-md-14 mt-n11">

      <!-- Shape -->
      <div class="shape shape-fluid-x shape-blur-2 text-light">
        <svg viewBox="0 0 1313 768" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M442.794 768c163.088 0 305.568-88.227 382.317-219.556l.183.556s.249-.749.762-2.181a440.362 440.362 0 0033.192-71.389C901.996 397.81 989.306 277.09 1144.29 206l-.92-.693C1230.34 171.296 1295.63 94.049 1312.83 0H1.294v295.514c-.663 9.909-1 19.908-1 29.986 0 244.386 198.114 442.5 442.5 442.5z" fill="currentColor"/></svg>      </div>

      <!-- Content -->
      <div class="container">
        <div class="row align-items-center text-center text-md-start">
          <div class="col-12 col-md-6">

            <!-- Image -->
            <img src="/img/illustrations/illustration-4.png" alt="Image d'un homme interagissant avec un smartphone" class="img-fluid mw-130 float-end mb-6 mb-md-0" data-aos="fade-right">

          </div>
          <div class="col-12 col-md-6">

            <!-- Heading -->
            <h1 class="display-1 fw-bold">
              <div data-aos="fade-left">INOE</div>
              <div data-aos="fade-left" data-aos-delay="100">Expertises</div>
            </h1>

            <!-- Text -->
            <p class="fs-lg text-muted mb-0" data-aos="fade-left" data-aos-delay="200">
            Plus de 15 ans d'experience d'expertise informatique. <br>
            Une équipe de techniciens à la pointe. <br>
            Plus de 1000 dossiers d'experience et d'expertises.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- HUB -->
    <section class="py-8 py-md-11">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 text-center" data-aos="fade-up">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"/><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"/></g></svg>           
             </div>

            <!-- Heading -->
            <h3>
              Nos prestations
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Notre cercle d'activitées est très large, néanmoins nous le légal et le juridique prennent une place majeur de notre activité. 
            </p>

          </div>
          <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="50">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"/><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"/></g></svg>            </div>

            <!-- Heading -->
            <h3>
              Moderne et à l'écoute
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Nous sommes à l'écoute de vos besoins et
            </p>

          </div>
          <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"/></g></svg>            </div>

            <!-- Heading -->
            <h3>
              À la pointe de notre domaine
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              Nous utilisons les meilleurs outils disponible et nos techniciens maitrise parfaitement leurs domaines.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- ABOUT -->
    <section class="py-8 py-md-11 bg-gray-200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Heading -->
            <h2 class="fw-bold">
              Nous enquêtons tout type de dossier/affaire.
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-7 mb-md-9">
              No matter what you're working on, who you're with, or how many of you there are, Landkit can help.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row gx-4">
          <div class="col-12 col-lg-6 d-lg-flex mb-4">

            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden" data-aos="fade-up">
              <div class="row">
                <div class="col-md-4 position-relative">

                  <!-- Image -->
                  <img src="/img/illustrations/illustration-8.png" class="h-75 position-absolute right-0 mt-7 me-n4" alt="...">

                </div>
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9 text-center">

                    <!-- Heading -->
                    <h4 class="fw-bold">
                      Nos 
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Landkit works well for a scrappy team of 3 or scales to the enterprise level needs of Forture 500 companies.
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
          <div class="col-12 col-lg-6 d-lg-flex mb-4">

            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center" data-aos="fade-up">
              <div class="row">
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">

                    <!-- Heading -->
                    <h4 class="fw-bold">
                      Prestations diverse
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Audit de système informatique, récupération de données supprimées, enquetes privé, écoutes etc.
                    </p>

                  </div>

                </div>
                <div class="col-md-4">

                  <!-- Image -->
                  <img src="/img/illustrations/illustration-6.png" class="h-75 position-absolute left-0 mt-7" alt="...">

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center text-lg-start" data-aos="fade-up">
              <div class="row">
                <div class="col-md-4 position-relative">

                  <!-- Image -->
                  <img src="/img/illustrations/illustration-2.png" class="h-75 position-absolute right-0 mt-6" alt="...">

                </div>
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">

                    <!-- Heading -->
                    <h4 class="fw-bold">
                      Expertises judiciaires
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Les missions d'expertise informatique varient selon la nature du dossier :
                      La pédopornographie/pédophilie, les faux documents, la corruption, l'extorsion de fond, , le terrorisme, les trafics illégaux, meurtre, etc.
                      À cet effet, nous pouvons manipuler tous les supports numériques pour trouver des informations convaincantes.
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


    <!-- ABOUT -->
    <section class="pt-5 pt-md-7">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6">

            <!-- Heading -->
            <h2 class="fw-bold">
              De l'experience dans diverse domaine informatique
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-5">
              Enquetes, ecoutes, audits, ne sont qu'une partit du spectre d'activité 
            </p>

            <!-- Button -->
            <a href="/contact" class="btn btn-primary-desat mb-6 mb-md-0 lift">
              Contactez nous! <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>
          <div class="col-12 col-md-6">

            <!-- iPhone + Macbook -->
            <div class="w-md-130">
              <div class="device-combo device-combo-iphonex-macbook">

                <!-- iPhone -->
                <div class="device device-iphonex">
                  <img src="/img/screenshots/mobile/dashkit-alt.jpg" class="device-screen" alt="...">
                  <img src="/img/devices/iphonex.svg" class="img-fluid" alt="...">
                </div>

                <!-- Macbook -->
                <div class="device device-macbook">
                  <img src="/img/screenshots/desktop/dashki t-alt.jpg" class="device-screen" alt="...">
                  <img src="/img/devices/macbook.svg" class="img-fluid" alt="...">
                </div>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- STATS -->
    <section class="py-8 pt-md-11 pb-md-12">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 text-center">

            <!-- Heading -->
            <h1 class="display-2 fw-bold text-primary-desat">
              <span data-countup='{"startVal": 0}' data-to="1000" data-aos data-aos-id="countup:in">0</span>
            </h1>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Dossiers et missions réalisées au fil de nos nombreuses années d'experiences.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Heading -->
            <h1 class="display-2 fw-bold text-primary-desat">
              <span data-countup='{"startVal": "0", "decimalPlaces": 1}' data-to="15" data-aos data-aos-id="countup:in">0</span>
            </h1>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              15 Ans d'experience d'expertises informatique
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Heading -->
            <h1 class="display-2 fw-bold text-primary-desat">
              <span data-countup='{"startVal": "0", "decimalPlaces": 0}' data-to="9000" data-aos data-aos-id="countup:in">0</span>
            </h1>

            <!-- Text -->
            <p class="text-muted mb-0">
              Plus de 9000 médias analysé au cours des années
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- CTA -->
    <section class="py-10 py-md-13 bg-gray-200 bg-between" style="background-image: url(/img/illustrations/illustration-1-cropped.png), url(assets/img/illustrations/illustration-3-cropped.png);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h2 class="fw-bold">
              Pour en savoir plus n'hésitez pas à nous contacter.
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-8 px-lg-9">
              Nous
            </p>

            <!-- Button -->
            <a href="#!" class="btn btn-primary-desat lift">
              Contactez-Nous!
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>
    
    {% include "base/footer.html.twig" %}
    
{% endblock %}
