<!-- FOOTER -->
    <footer class="py-8 py-md-11 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-2 col-lg-2">
    
            <!-- Brand -->
            <img src="/img/inoe-logo-e.svg" alt="Logo INOE" class="footer-brand img-fluid mb-2">
    
          
          </div>
          <div class="col-6 col-md-4 col-lg-2">
    
            <!-- Heading -->
            <h6 class="fw-bold text-uppercase text-gray-700">
              Catégories
            </h6>
    
            <!-- List -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Accueil
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Expertises
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Prestations
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Où sommes-nous
                </a>
              </li>
              <li>
                <a href="#!" class="text-reset">
                  Notre équipe
                </a>
              </li>
            </ul>
    
          </div>
          <div class="col-6 col-md-4 col-lg-3">
    
            <!-- Heading -->
            <h6 class="fw-bold text-uppercase text-gray-700">
              Contact
            </h6>
    
            <!-- List -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
              <li class="mb-6">
                <a href="/contact" class="text-reset">
                  Pour nous CONTACTER <br>
                  cliquer sur le menu “Contactez-Nous” <br>
                  ou au : 06 19 21 19 74
                </a>
              </li>
    
          </div>
          <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
    
            <!-- Heading -->
            <h6 class="fw-bold text-uppercase text-gray-700">
              Légal
            </h6>
    
            <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  SAS au capital de 1000 euros
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  SIRET : 84335410100019 RCS Aix-en-Provence
                </a>
              </li>
            </ul>
    
          </div>
          <div class="col-6 col-md-4 col-lg-2">    
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>