@import './scss/theme.scss';
@import './scss/libs.scss';

#blueC
{
    color:#335EEA;
}

/* OTHER SHAPE */
.custom-shape-divider-bottom-1636365586 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1636365586 svg {
    position: relative;
    display: block;
    width: calc(176% + 1.3px);
    height: 133px;
}

.custom-shape-divider-bottom-1636365586 .shape-fill {
    fill: #335EEA;
}

/* OTHER SHAPE */

/* OTHER SHAPE */

/* OTHER SHAPE */

